{%- macro display_comments_container(comments, post_id, logged_in_user=None, user_is_post_author=False) %}
	<div class="comment-container">
		<h2>Comments</h2>
		{% if comments %}
				{% for comment in comments %}
					<div class="comment">
						<header>
							<div class="about">
								{{ comment["username"] }} on {{ comment["created"] }}
							</div>
							{% if user_is_post_author %}
								<form action="{{ url_for('comments.delete', id=comment['id']) }}" method="post">
									<button class="btn-link" type="submit">Delete</button>
								</form>
							{% endif %}
						</header>
						<div>
							{{ comment["body"] }}
						</div>
					</div>
				{% endfor %}
		{% else %}
			<i>No comments yet.</i>
		{% endif %}
		{% if logged_in_user %}
			<h3>Add a Comment</h3>
			<form action="{{ url_for('comments.create') }}" method="post">
				<input type="hidden" name="post_id" value="{{ post_id }}">
				<textarea name="body" id="body"></textarea>
				<input type="submit" value="Add Comment">
			</form>
		{% endif %}
	</div>
{% endmacro -%}