{%- macro display_pagination(base_url, pagination) %}
	<div class="pagination">
		{% if not pagination.is_first %}
			<a href="{{ base_url }}?page={{ pagination.first }}">&lt;&lt; First</a>
		{% endif %}
		{% if pagination.has_previous %}
			<a href="{{ base_url }}?page={{ pagination.previous }}">&lt; Previous</a>
		{% endif %}
		{% if pagination.has_next %}
			<a href="{{ base_url }}?page={{ pagination.next }}">Next &gt;</a>
		{% endif %}
		{% if not pagination.is_last %}
			<a href="{{ base_url }}?page={{ pagination.last }}">Last &gt;&gt;</a>
		{% endif %}
	</div>
{% endmacro -%}